@model EntityLayers.Concerete.Eats
@{
    ViewBag.Title = "ChefsEatsAdd";
    Layout = "~/Views/Shared/EatsChefsLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<br />
<br />
<br />
<h4>Yemek İncelendikten Sonra Yayınlancaktır</h4>
@using (Html.BeginForm("ChefsEatsAdd", "ChefsPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="active tab-pane" id="settings">
        @Html.ValidationSummary(true,"",new {@class="text-danger" })
        <form class="form-horizontal">
            <div class="form-group row">
                <div class="col-sm-10">
                    @Html.HiddenFor(x => x.EatsId, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Yemek Adı</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.EatsName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.EatsName,"",new {@class="text-danger"})
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Kategori</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.Categoryid, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputName2" class="col-sm-2 col-form-label">Chef</label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.chefsid, (List<SelectListItem>)ViewBag.vlw, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputExperience" class="col-sm-2 col-form-label">Resim </label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="EatsImage" placeholder="" required="">
                    @Html.ValidationMessageFor(x => x.EatsImage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputExperience" class="col-sm-2 col-form-label">Yemek Tarifi</label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.EatsSpecification, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.EatsSpecification, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputExperience" class="col-sm-2 col-form-label">Yemek Malzemeleri</label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.EatsIngredients, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.EatsIngredients, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-outline-success">Ekle</button>
                </div>
            </div>
        </form>
    </div>
}
@*@using (Html.BeginForm("ChefsEatsAdd", "ChefsPanel", FormMethod.Post))
    {
        <br />
        <br />
        <p>Eklenen Yemek İncelendikten Sonra Yayınlancaktır</p>
        <br />
        @Html.Label("Yemek Adı")
        @Html.TextBoxFor(x => x.EatsName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.EatsName)

        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.Categoryid, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })

        @Html.Label("Yazar")
        @Html.DropDownListFor(x => x.Chefssid, (List<SelectListItem>)ViewBag.vlw, new { @class = "form-control" })
        <div class="form-group">
            <div class="btn btn-default btn-file">
                <input type="file" name="@Html.DisplayFor(x=>x.EatsImage)">
            </div>
            <p class="help-block">Max. 32MB</p>
        </div>

        @Html.Label("Yemek Resim uzantısı")
        @Html.TextBoxFor(x => x.EatsImage, new { @class = "form-control" })
        @Html.Label("Yemek Tarifi")
        @Html.TextBoxFor(x => x.EatsSpecification, new { @class = "form-control" })

        <button class="btn btn-outline-info">Yemek Ekle</button>
    }*@